/* _colors.scss */

.font-black{
  color:$black;
}
.font-blue{
  color:$blue;
}

.font-red{
  color:$red;
}

.font-green{
  color:$green;
}

.font-pink{
  color:$pink;
}

.font-yellow{
  color:$yellow;
}

.font-orange{
  color:$orange;
}

.blue{
  background-color:$blue;
}

.red{
  background-color:$red;
}

.green{
  background-color:$green;
}

.pink{
  background-color:$pink;
}

.yellow{
  background-color:$yellow;
}

.orange{
  background-color:$orange;
}
