
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/*CUSTOM*/

.container {
  padding-right: 15px;
  padding-left: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}




.color{
  width:100px;
  height:100px;
  margin:5px 20px 20px 20px;

}
.font-black{
    color:black;
}
.font-blue{
  color:blue;
}

.font-red{
  color:red;
}

.font-green{
  color:green;
}

.font-pink{
  color:pink;
}

.font-yellow{
  color:yellow;
}

.font-orange{
  color:orange;
}
.blue{
  background-color:blue;
}

.red{
  background-color:red;
}

.green{
  background-color:green;
}

.pink{
  background-color:pink;
}

.yellow{
  background-color:yellow;
}

.orange{
  background-color:orange;
}

.mov{
    margin:20px;
}

/* FA 4.0.0 and newer */
.fa {
  text-rendering: auto;
}

/* FA 3.2.1 and older */
[class^="icon-"],
[class*=" icon-"]  {
  text-rendering: auto;
}
