$fa-font-path: "../bower_components/components-font-awesome/fonts" !default;
@import "../bower_components/components-font-awesome/scss/font-awesome.scss";

//TODO remove .css from index.html and import odometer sass
//@import "../bower_components/odometer/sass/_mixins.sass";
//@import "../bower_components/odometer/sass/odometer-theme-default.sass";
//@import "../bower_components/odometer/themes/odometer-theme-default.css";

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";


@import 'variablesCustomBootstrap';
@import 'sass-bootstrap/lib/bootstrap';
//@import url('http://fonts.googleapis.com/css?family=Varela+Round');
@import "../fonts/VarelaRound.scss";




$black  : #111;
$blue   : #44C1EB;
$red    : #E74A43;
$green  : #33cc99;
$pink   : pink;
$yellow : #FFC634;
$orange : #FFAB19;

$body-color : #242424;



.browsehappy {
    margin: 0.1.5em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
    overflow: hidden;
    background: $body-color;
    font-family: 'Varela Round',sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Varela Round',sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/*CUSTOM*/

.container {
  padding-right: 15px;
  padding-left: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}





.font-black{
  color:$black;
}
.font-blue{
  color:$blue;
}

.font-red{
  color:$red;
}

.font-green{
  color:$green;
}

.font-pink{
  color:$pink;
}

.font-yellow{
  color:$yellow;
}

.font-orange{
  color:$orange;
}

.blue{
  background-color:$blue;
}

.red{
  background-color:$red;
}

.green{
  background-color:$green;
}

.pink{
  background-color:$pink;
}

.yellow{
  background-color:$yellow;
}

.orange{
  background-color:$orange;
}

.mov{
    text-align:center;
    font-size:2em;
}

/* FA 4.0.0 and newer */
.fa {
  text-rendering: auto;
}

/* FA 3.2.1 and older */
[class^="icon-"],
[class*=" icon-"]  {
  text-rendering: auto;
}


html,body, .row, .container-view, .full-height{
    height:100%;
    margin:0;
    padding:0;
    overflow: hidden;
    text-align:center;
}
.color{
  height:50%;  
}

/*div{
    text-align:center;
}*/
/*
.mov-0{
    height:2em;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    font-size:3em;
    -webkit-animation: bounce 2s ease 3s;
       -moz-animation: bounce 2s ease 3s;
        -ms-animation: bounce 2s ease 3s;
         -o-animation: bounce 2s ease 3s;
            animation: bounce 2s ease 3s;
}

.mov-1{
    -webkit-animation: go-big 1s ease 4s;
       -moz-animation: go-big 1s ease 4s;
        -ms-animation: go-big 1s ease 4s;
         -o-animation: go-big 1s ease 4s;
            animation: go-big 1s ease 4s;
}

@-webkit-keyframes bounce {
    0% {  }
    100% { font-size: 0em; }
}
@-moz-keyframes bounce {
    0% {  }
    100% { font-size: 0em; }
}
@-ms-keyframes bounce {
    0% {  }
    100% { font-size: 0em; }
}
@-o-keyframes bounce {
    0% {  }
    100% { font-size: 0em; }
}
@keyframes bounce {
    0% {  }
    100% { font-size: 0em; }
}

@-webkit-keyframes go-big {
    0% {  }
    100% { 
    -webkit-transform: translateY(-3.1em);
       -moz-transform: translateY(-3.1em);
        -ms-transform: translateY(-3.1em);
         -o-transform: translateY(-3.1em);
            transform: translateY(-3.1em); }
}
@-moz-keyframes go-big {
    0% {  }
    100% { 
    -webkit-transform: translateY(-3.1em);
       -moz-transform: translateY(-3.1em);
        -ms-transform: translateY(-3.1em);
         -o-transform: translateY(-3.1em);
            transform: translateY(-3.1em); }
}
@-ms-keyframes go-big {
    0% {  }
    100% { 
    -webkit-transform: translateY(-3.1em);
       -moz-transform: translateY(-3.1em);
        -ms-transform: translateY(-3.1em);
         -o-transform: translateY(-3.1em);
            transform: translateY(-3.1em); }
}
@-o-keyframes go-big {
    0% {  }
    100% { 
    -webkit-transform: translateY(-3.1em);
       -moz-transform: translateY(-3.1em);
        -ms-transform: translateY(-3.1em);
         -o-transform: translateY(-3.1em);
            transform: translateY(-3.1em); }
}
@keyframes go-big {
    0% {  }
    100% { 
    -webkit-transform: translateY(-3.1em);
       -moz-transform: translateY(-3.1em);
        -ms-transform: translateY(-3.1em);
         -o-transform: translateY(-3.1em);
            transform: translateY(-3.1em); }
}

.color{
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);

    -webkit-animation: bounceIn .8s ease 1s forwards;
       -moz-animation: bounceIn .8s ease 1s forwards;
        -ms-animation: bounceIn .8s ease 1s forwards;
         -o-animation: bounceIn .8s ease 1s forwards;
            animation: bounceIn .8s ease 1s forwards;
}

.color:nth-of-type(2){
    -webkit-animation-delay: 1.2s;
       -moz-animation-delay: 1.2s;
        -ms-animation-delay: 1.2s;
         -o-animation-delay: 1.2s;
            animation-delay: 1.2s;
}

.color.right{
    -webkit-animation-delay: 1.3s;
       -moz-animation-delay: 1.3s;
        -ms-animation-delay: 1.3s;
         -o-animation-delay: 1.3s;
            animation-delay: 1.3s;
}

.color.right:nth-of-type(2){
    -webkit-animation-delay: 1.4s;
       -moz-animation-delay: 1.4s;
        -ms-animation-delay: 1.4s;
         -o-animation-delay: 1.4s;
            animation-delay: 1.4s;
}



@-webkit-keyframes bounceIn {
    0% {  }
    100% { 
    -webkit-transform: scale(1);
        -moz-transform: scale(1);
         -ms-transform: scale(1);
          -o-transform: scale(1);
             transform: scale(1); }
}
@-moz-keyframes bounceIn {
    0% {  }
    100% { 
    -webkit-transform: scale(1);
        -moz-transform: scale(1);
         -ms-transform: scale(1);
          -o-transform: scale(1);
             transform: scale(1); }
}
@-ms-keyframes bounceIn {
    0% {  }
    100% { 
    -webkit-transform: scale(1);
        -moz-transform: scale(1);
         -ms-transform: scale(1);
          -o-transform: scale(1);
             transform: scale(1); }
}
@-o-keyframes bounceIn {
    0% {  }
    100% { 
    -webkit-transform: scale(1);
        -moz-transform: scale(1);
         -ms-transform: scale(1);
          -o-transform: scale(1);
             transform: scale(1); }
}
@keyframes bounceIn {
    0% {  }
    100% { 
    -webkit-transform: scale(1);
        -moz-transform: scale(1);
         -ms-transform: scale(1);
          -o-transform: scale(1);
             transform: scale(1); }
}

*/
/*.mov.ng-enter{
    font-size: 52em;
}

.mov.ng-leave{
    font-size: 5em;

}

.mov{
//  transition: all 2s ease;
}
*/
/*.color, .color.ng-enter{
  animation: bounceIn 1s cubic-bezier(.17, .67, .83, .67);
  transform: scale(0);
  animation-fill-mode: forwards;
}*/
/*.action.ng-enter {
  animation: bounceIn 1s cubic-bezier(.17, .67, .83, .67);
}*/
/*
.action.ng-leave{
  animation: bounceOut .5s cubic-bezier(.17, .67, .83, .67);

}*/
/*
.action.ng-leave ~ .action{
  animation: trans .3s cubic-bezier(.17, .67, .83, .67);
  
}*/

@keyframes trans{
  to{
    transform: translateY(-4.8em);
  }
}

/*
.color.ng-leave{
  transform: scale(0);
}
*/
.splash-view.ng-leave {
  animation: bounceOut 1s cubic-bezier(.17, .67, .83, .67);
  
}

.menu-view.ng-leave{
  animation: slideOutUp 1s ease;
}

.menu-view.ng-enter{
  animation: slideInDown 1s ease;
  animation-delay:2s;

}
/*.up.ng-leave{
  animation: slideOutUp 1s ease;
  animation-delay:1s;
}*/

.menu-view.left.ng-enter, .left.ng-enter{
  animation: slideInLeft 1s ease;
  animation-delay:1s;
}

.menu-view.left.ng-leave, .left.ng-leave {
  animation: slideOutRight 1s ease;
}
/*.ng-leave.right {
  animation: slideOutRight 1s ease;
}

.ng-leave.left {
  animation: slideOutLeft 1s ease;
}
*/
.game-view.ng-leave {
  animation: fadeOut 2s ease;
  animation-delay: 0s;
}

.game-view.ng-leave .right{
  animation: slideOutRight 5s ease;
  animation-fill-mode: forwards;
}
.game-view.ng-leave .left{
  animation: slideOutLeft 5s ease;
  animation-fill-mode: forwards;
}

.game-view.ng-enter {
  //animation: slideInRight 5s ease;
  
}

/*.game-view.ng-enter .right{
  animation: slideInRight 5s ease;
  animation-fill-mode: forwards;
}*/
.colors{
  animation: slideInLeft 2s ease;
  animation-fill-mode: forwards;
}

.colors.right{
  animation: slideInRight 2s ease;
  animation-fill-mode: forwards;
}

/*.ng-enter{
  animation: bounceIn 1s ease;
}*/


/*.action{
  animation: fadeIn 1s ease;

}*/
/*.actions{
  opacity: 0;
}*/
/*.actions{
  animation: slideInDown 1s ease;
  animation-fill-mode: forwards;
}*/


.circle, .ui{
  opacity: 0;
  animation: fadeIn 1s ease;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.action:nth-of-type(4){
  transform: translateY(2000px);
  animation: slideInUp .4s ease;
  animation-fill-mode: forwards;
}

$delay : 2s;

.action.init{
  transform: translateY(2000px);
  animation: slideInUp 1s ease;
  animation-delay: $delay;
  animation-fill-mode: forwards;
}

.action.init:nth-of-type(2){
    -webkit-animation-delay: $delay + 0.2s;
       -moz-animation-delay: $delay + 0.2s;
        -ms-animation-delay: $delay + 0.2s;
         -o-animation-delay: $delay + 0.2s;
            animation-delay: $delay + 0.2s;
}

.action.init:nth-of-type(3){
    -webkit-animation-delay: $delay + 0.3s;
       -moz-animation-delay: $delay + 0.3s;
        -ms-animation-delay: $delay + 0.3s;
         -o-animation-delay: $delay + 0.3s;
            animation-delay: $delay + 0.3s;
}

.action.init:nth-of-type(4){
    -webkit-animation-delay: $delay + 0.4s;
       -moz-animation-delay: $delay + 0.4s;
        -ms-animation-delay: $delay + 0.4s;
         -o-animation-delay: $delay + 0.4s;
            animation-delay: $delay + 0.4s;
}




.mov-0{
  animation: pulse 1s ease infinite;
}


@keyframes slideInUp{
  to{
    transform: translateY(0);
  }
}
/*
.color.left:nth-of-type(2){
  animation-delay: .2s;
}

.color.right{
  animation-delay: .3s;
}

.color.right:nth-of-type(2){
  animation-delay: .4s;
}
*/

.color:active{

}

.color{
  color:transparent;
  font-size:5em;
  line-height:1.9em;
  transition: opacity .5s ease;
}
.push, .pushed{
  animation: test 1s ease alternate;

}



@keyframes test{
  0%{
    color:transparent;
  }
  50%{
    color:white;
  }
  100%{
    color:transparent;
  }
}


@keyframes test2{
  50%{
    opacity:.8;
  }
}

.super-remove-active{
  //animation: bounceIn .5s cubic-bezier(.17, .67, .83, .67);
}


.actions{
  padding-top:1.3em;
}

.actions .score{
  font-size: 17px;
  
}

.actions .combo{
  margin-top:.5em;
}

.circle{
  border-radius: 50%;
  border: 3px solid white;
  height: 3em;
  width: 3em;
  line-height: 2.5em;
  bottom:.1em;
  margin:auto;
}


.warning-balls{
  text-align: left;
  margin: auto;
  width: 58px;
  height: 20px;
  animation: bounce 2s ease;
  animation-delay: 0;
  margin-top:.5em;
  margin-bottom: 1.3em;

  &.flash{
    animation: flash .7s ease infinite;
  }
}

.circle.small{
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-left:5px;
}

.circle.solid{
  background: white;
}

.circle.combo-1{
  border-color:$red;
}

.circle.combo-2{
  border-color:$yellow;
}

.circle.combo-3{
  border-color:$blue;
}

.circle.combo-4{
  border-color:$green;
}

.game-view .menu{
  padding:8px;
  position: absolute;
  bottom:0;
  width:100%;
}


.bar{
  position: absolute;
  bottom: 0;
  background: white;
  height:100%;
  width:3px;
  //FIXME : animation bar gap
  transition: transform 1s linear, opacity 1.5s ease;
  animation-delay: 0s;
  z-index:999;
}

.bar.right{
  right:0px;
}

/* FIX de barras en la carga*/
.bar.init{  
  transform: translateY(100%)!important;
}

.bar.flash{
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  opacity: 0;
}

.splash-logo{
  background-color:white;
  background: url('..'+image-url('zanin.png', true, true)) no-repeat center center fixed;
  background-size: cover;
}

.splash-view{
  color:#111;
}

.chart-view{
  background-color: $blue;
}

.records-view{
  background-color: $blue;
}

.menu-view{
  text-shadow: 0px 0px 15px rgba(17, 17, 17, 0.26);
}
.menu-view .menu, .records-view .menu{
  text-align: left;
}

.menu-view .menu{
  background: $red;
}

.splash-view .menu{
  text-align:center;
  padding:8px;
  position: absolute;
  bottom:0em;
  width:100%;
//  font-size: 1.2em;
}

.start{
  animation: colorRotate 8s linear infinite;
  font-family: 'Varela Round',sans-serif;
  font-size:1.5em;
}

@keyframes presionaYa{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(0.9);
  }
}

@keyframes colorRotate{
  0%{
    color:$blue;
    //transform: scale(1);
  }
  25%{
    color:$red;
    //transform: scale(0.9);
  }
  50%{
    color:$yellow;
    //transform: scale(1);
  }
  100%{
    color:$green;
    //transform: scale(0.9);
  }
}

/*.ng-leave{
  animation: bounceOut .5s cubic-bezier(.17, .67, .83, .67);
}*/

.odometer{
  font-size: 60px;
}

.odometer-value{
  //font-family: 'Varela Round',sans-serif;
}

#clicks-chart canvas{
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}


.tutorial-view .tutorial{
  //color:#666;
  font-size:.9em;
}
.tutorial-view  .tutorial .fa{
  font-size:2.5em;
  margin-bottom: .2em;
}

.tutorial-view {
  padding-top:2.5em;
}

.tutorial-view h1, h2 {
  font-family: 'Varela Round',sans-serif;
  font-weight: 900;
}


.btn {
  border-width: 2px;
}

.btn.btn-default{
  background: transparent;
}


.button.play{
  //$size:140px;
  $size:7.5em;

  width:$size;
  height:$size;
  display: inline-block;
  //border:8px solid white;
  border:.5em solid white;
  border-radius: 50%;
  text-align: center;
 
  //line-height: 86px;
  padding-top:.8em;
  color:white;

  font-size: 1.35em;
  //line-height: 97px;

  //background: $body-color; //#3D3D3D
  background: #3D3D3D;
  //box-shadow: 0px 0px 15px 5px rgba(17, 17, 17, 0.26);
  box-shadow: 0px 10px 15px 5px rgba(17, 17, 17, 0.26);

  //FIXME : animation bug
  //animation:playButtons 4s ease-in-out alternate infinite;
  //animation-delay: 4s;

  transition: all .5s 0s ease;

  & i{
    font-size: $size*0.45;
    padding-left: 8px;
    display: block;

  }

  & span{
    font-size: .8em;
  }
}

.button.play.small{
  
  $size:5.5em;

  width:$size;
  height:$size;
  
  font-size: .9em;
  position: relative;
  top: -38px;
  //top: -20px;
  right: -100px;

  & i{
    font-size: $size*0.55;
    padding-left: 0;
  }

  & i.fa-arrow-right{
    padding-left: .1em;
  }
}

@keyframes playButtons{
  to{
    transform: translateY(.5em);
    box-shadow: 0px 0px 5px 5px rgba(17, 17, 17, 0.26);

  }
}

.ng-enter .button{
  transform:scale(0) rotate(180deg);
}



/*tutorial*/
.tutorial .color{
  //opacity: 0.5;
}

.color.dimmed{
  opacity: 0.5;  
}

.tutorial .instructions{
  position: fixed;
  bottom: 0;
  z-index: 10000000;
  width: 100%;
  background-color: $body-color;

}

.tutorial .instructions.ng-enter{
  animation: bounceInUp 2s ease;
}

.tutorial .mov{
  opacity: 0;
}

.tutorial .mov.mov-0{
  opacity: 1;
}




