<div class="row"><div class="col-xs-12 full-height splash-logo" ng-click="go({{nextView}})"><div class="menu"><!--div class="col-xs-8 col-xs-offset-2 tutorial">
		  	  	<div class="col-xs-3">
		  	  		<i class="font-yellow fa fa-circle-o"></i><br>
		  	  		single tap
		  	  	</div>
		        <div class="col-xs-3">
		        	<i class="font-green fa fa-circle-o"></i>
		        	<i class="font-green fa fa-circle-o"></i><br>
		        	double tap
		     	</div>
		        <div class="col-xs-3">
		        	<i class="font-blue fa fa-long-arrow-left"></i><br>
		        	swipe left
		        </div>
		        <div class="col-xs-3">
		        	<i class="font-red fa fa-long-arrow-right"></i><br>
		        	swipe right
		        </div>  
		    </div-->a tap n' swipe colours game<div class="col-xs-12 start">TAP TO ZANIN</div></div></div></div>