/* _menu.scss */

.menu-view{

  background: $red;
  text-shadow: 0px 0px 15px rgba(17, 17, 17, 0.26);

  &.new-record{
    background: $green;
  }

  h3{
    margin-top: 10px;

    span{
      position: relative;
      top: 3px;

      font-size: 1.3em;
      font-family: "Helvetica Neue", sans-serif;
      font-weight: bold;
    }
  }

  .menu{
    text-align:left;
  }

  .odometer{
    font-size: 60px;
    margin-bottom: 5px;
  }

  .odometer-value{
    //font-family: 'Varela Round',sans-serif;
  }

  .time{
    margin-top: 38px;
    font-size: 2.5em;
  }

}