/* _tutorial.scss */

.container-view.tutorial-view{

  font-size:.9em;

  padding-top:2.5em;

  h1, h2 {
    font-family: 'Varela Round',sans-serif;
    font-weight: 900;
  }

  .fa{
    font-size:2.5em;
    margin-bottom: .2em;
  }

}


