
  <div class="row">
    <div class="col-xs-5 full-height" ng-init="init()">

      <div ng-repeat="color in colors | filter: {side : 'left'}" hm-doubletap="checkGesture(color.color, 'doubleTap')" hm-tap="checkGesture(color.color, 'tap')"   ng-swipe-right="checkGesture(color.color, 'swipeRight')" ng-swipe-left="checkGesture(color.color, 'swipeLeft')" class="col-xs-12 color {{color.color}}"></div>

    </div> 

    <div class="col-xs-2 full-height actions">
      <span>{{points}}</span>
      <span>{{timeLeft}}</span>
      <span>{{lvl}}</span>
      <div ng-repeat="action in actions">
        <div class="font-{{action.color}} mov mov-{{$index}}">
          <i ng-if="action.gesture == 'tap'" class="fa fa-circle-o"></i>
          <i ng-if="action.gesture == 'doubleTap'" class="fa fa-circle-o"></i>
          <i ng-if="action.gesture == 'doubleTap'" class="fa fa-circle-o"></i>
          <i ng-if="action.gesture == 'swipeLeft'" class="fa fa-long-arrow-left"></i>
          <i ng-if="action.gesture == 'swipeRight'" class="fa fa-long-arrow-right"></i>
        </div>
      </div>
    </div>


    <div class="col-xs-5 full-height">

      <div ng-repeat="color in colors | filter: {side : 'right'}" hm-tap="checkGesture(color.color, 'tap')"  hm-doubletap="checkGesture(color.color, 'doubleTap')" ng-swipe-right="checkGesture(color.color, 'swipeRight')" ng-swipe-left="checkGesture(color.color, 'swipeLeft')" class="col-xs-12 color right {{color.color}}"></div>

    </div> 
  </div> 
