
  <div class="row">
    <div class="col-xs-5 full-height colors" ng-init="load(0)">

      <!--div ng-repeat="color in colors | filter: isOdd" hm-doubletap="checkGesture($event, color.color, 'doubleTap');" hm-tap="checkGesture($event, color.color, 'tap');" ng-swipe-right="checkGesture($event, color.color, 'swipeRight');" ng-swipe-left="checkGesture($event, color.color, 'swipeLeft');" class="col-xs-12 color left {{color.color}}" ng-class="{push: colorOk == color.color}"
      hm-options="{drag: false, transform: false, tap_always:false}"
      >+{{energy}}"</div-->
      <div hm-doubletap="checkGesture($event, colors[0].color, 'doubleTap');" hm-tap="checkGesture($event, colors[0].color, 'tap');" ng-swipe-right="checkGesture($event, colors[0].color, 'swipeRight');" ng-swipe-left="checkGesture($event, colors[0].color, 'swipeLeft');" class="col-xs-12 color left {{colors[0].color}}" ng-class="{push: colorOk == colors[0].color}"
      hm-options="{drag: false, transform: false, tap_always:false}"
      >+{{energy}}"</div>
      <div hm-doubletap="checkGesture($event, colors[1].color, 'doubleTap');" hm-tap="checkGesture($event, colors[1].color, 'tap');" ng-swipe-right="checkGesture($event, colors[1].color, 'swipeRight');" ng-swipe-left="checkGesture($event, colors[1].color, 'swipeLeft');" class="col-xs-12 color left {{colors[1].color}}" ng-class="{push: colorOk == colors[1].color}"
      hm-options="{drag: false, transform: false, tap_always:false}"
      >+{{energy}}"</div>


    </div> 

    <div class="col-xs-2 full-height actions">
      
      <!-- 
        FIXME : add ui class, aware update bug
      -->

      <div class="score">{{game.points - 2}}</div>

      <!--div class="circle combo combo-{{ getComboClass() }}">{{combo}}</div-->
      <div class="circle combo">{{combo}}</div>
      <div class="warning-balls animated" ng-class="{flash:warnToChange > 8, bounceOut: warnToChange == 0}">
        <!--div ng-if="warnToChange < 10"-->
          <div class="circle solid small" ng-if="warnToChange > 1"></div>
          <div class="circle solid small" ng-if="warnToChange > 3"></div>
          <div class="circle solid small" ng-if="warnToChange > 5"></div>
        <!--/div-->
      </div>

      
      <div class="actions-cnt">
        <div ng-repeat="action in actions" class="action" ng-class="{init:!loaded}">
          <div class="font-{{action.color}} mov mov-{{$index}}">
            <i ng-if="action.gesture == 'tap'" class="fa fa-circle-o"></i>
            <i ng-if="action.gesture == 'doubleTap'" class="fa fa-circle-o"></i>
            <i ng-if="action.gesture == 'doubleTap'" class="fa fa-circle-o"></i>
            <i ng-if="action.gesture == 'swipeLeft'" class="fa fa-long-arrow-left"></i>
            <i ng-if="action.gesture == 'swipeRight'" class="fa fa-long-arrow-right"></i>
          </div>
        </div>
      </div>

      <!--div class="menu">
        <div class="fa fa-pause circle" ng-click="init()"></div>
      </div-->

      <div class="bar" style="-webkit-transform: translateY({{timeLeft > 100 ? 0 : 100-timeLeft}}%);"></div>
      <div class="bar right" style="-webkit-transform: translateY({{timeLeft > 100 ? 0 : 100-timeLeft}}%);"></div>
    </div>


    <div class="col-xs-5 full-height colors right">

      <!--div ng-repeat="color in colors | filter: isEven" hm-tap="checkGesture($event, color.color, 'tap');"  hm-doubletap="checkGesture($event, color.color, 'doubleTap');" ng-swipe-right="checkGesture($event, color.color, 'swipeRight');" ng-swipe-left="checkGesture($event, color.color, 'swipeLeft');" class="col-xs-12 color right {{color.color}}" ng-class="{push: colorOk == color.color}"
      hm-options="{drag: false, transform: false, tap_always:false}"
      >+{{energy}}"</div-->
      <div hm-doubletap="checkGesture($event, colors[2].color, 'doubleTap');" hm-tap="checkGesture($event, colors[2].color, 'tap');" ng-swipe-right="checkGesture($event, colors[2].color, 'swipeRight');" ng-swipe-left="checkGesture($event, colors[2].color, 'swipeLeft');" class="col-xs-12 color left {{colors[2].color}}" ng-class="{push: colorOk == colors[2].color}"
      hm-options="{drag: false, transform: false, tap_always:false}"
      >+{{energy}}"</div>
      <div hm-doubletap="checkGesture($event, colors[3].color, 'doubleTap');" hm-tap="checkGesture($event, colors[3].color, 'tap');" ng-swipe-right="checkGesture($event, colors[3].color, 'swipeRight');" ng-swipe-left="checkGesture($event, colors[3].color, 'swipeLeft');" class="col-xs-12 color left {{colors[3].color}}" ng-class="{push: colorOk == colors[3].color}"
      hm-options="{drag: false, transform: false, tap_always:false}"
      >+{{energy}}"</div>


    </div> 
  </div> 
