asfa<div class="container">

   <span>{{points}}</span>
   <span>{{timeLeft}}</span>
   <span>{{lvl}}</span>
  <div class="row">
    <div class="col-xs-9 col-md-8">
      <div class="row">

            <div ng-repeat="color in colors" ng-click="selectedColor(color.color)" hammer-tap="selectedColor(color.color)" ng-dblclick="selectedColorDouble(color.color)"  hammer-doubletap="selectedColorDouble(color.color)" ng-swipe-right="selectedColorSwipeRight(color.color)" ng-swipe-left="selectedColorSwipeLeft(color.color)" class="col-xs-3 color {{color.color}}"></div>

      </div>
    </div> 

    <div class="col-xs-3 col-md-4">
        <div ng-repeat="action in actions">
        <div class="font-{{action.color}} mov">
          <i ng-if="action.tap" class="fa fa-circle-o fa-3x"></i>
          <i ng-if="action.doubleTap" class="fa fa-circle-o fa-3x"></i>
          <i ng-if="action.swipeLeft" class="fa fa-long-arrow-left fa-3x"></i>
          <i ng-if="action.swipeRight" class="fa fa-long-arrow-right fa-3x"></i>
        </div>
        </div>
    </div>
  </div>



</div>