
  <div class="row">
    <div class="col-xs-12 full-height menu" ng-swipe-right="go('chart', 'left')">
    	<div class="col-xs-8 col-xs-offset-2">
    		<br>
    		<br>
	    	<!--h1>Points: {{game.points}}</h1>

        <!--TODO add 0 at left to complete XXXX format-->
        <!--div class="zero">0</div><div class="zero">0</div-->
        <!--div ng-if="testNumber < 10"><h1>asdfasdf</h1></div-->
        <div id="points">0</div>

        <h1>highest combo: {{game.highestCombo}}</h1>
        <h3>time played: {{msToTime(game.timePlayed)}}</h3>
        <br>
        <br>
      <div class="starts text-centered">
        <span ng-click="go('game')">NEW GAME</span> | <span ng-click="go('chart')">STATS</span>
      </div>
    	</div>


    </div> 
  </div> 
