<div class="row" >
	<div class="col-xs-12 full-height" ng-click="go('game')">
		
		<h1>First zanin ever?</h1>
	  	<div class="col-xs-10 col-xs-offset-1 tutorial">
	  	  	<div class="col-xs-3">
	  	  		<i class="font-yellow fa fa-circle-o"></i><br>
	  	  		single tap
	  	  	</div>
	        <div class="col-xs-3">
	        	<i class="font-green fa fa-circle-o"></i>
	        	<i class="font-green fa fa-circle-o"></i><br>
	        	double tap
	     	</div>
	        <div class="col-xs-3">
	        	<i class="font-blue fa fa-long-arrow-left"></i><br>
	        	swipe left
	        </div>
	        <div class="col-xs-3">
	        	<i class="font-red fa fa-long-arrow-right"></i><br>
	        	swipe right
	        </div>  
	    </div>
		<div class="col-xs-12 start">
		SKIP TO ZANIN
		</div>

</div> 
